<div class="toolBar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15">
        <img src="../../assets/mainLogo.png" alt="logo" routerLink="/home">
    </div>
    <div class="navBar" fxLayout="column" fxLayoutAlign="start end" fxFlex="75">
        <div class="navItems" fxLayout="row" fxLayoutGap="1em">
            <a routerLink="/about" routerLinkActive="active">About Us</a>
            <a routerLink="/school" routerLinkActive="active">School</a>
            <a routerLink="/admission" routerLinkActive="active">Admission</a>
            <a routerLink="/gallary" routerLinkActive="active">Gallary</a>
            <a routerLink="/news" routerLinkActive="active">News Letter</a>
            <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </div>
    </div>
</div>