// @import '../../styles.scss';

.mainDisplay {
    height: calc(100% - 90px);
    overflow-y: auto;
    background: url("../assets/main_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}