<div class="schoolContainer" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2em">

  <!-- Section 1 -->

  <div class="schoolContent marginTop" fxLayout="row" fxLayoutAlign="center center">
    <h1>Faith Academy Christian School</h1>
  </div>

  <div class="schoolContent" fxLayout="row" fxLayoutAlign="center center" fxFlex="60">
    <img class="mySlide" src="../../assets/classroom/school_building.jpg" alt="">
  </div>

  <div class="schoolContent marginBottom" fxLayout="row" fxLayoutAlign="center center">
    <p>First class education is not unlike a delicious meal. Its quality ingredients include: diligent pupils,
      supportive parents, teachers who are well qualified and passionate about what they do, and a rigorous and
      challenging curriculum that nurtures body, mind and spirit.</p>
  </div>

  <div class="schoolContent marginBottom" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="schoolContentRound" fxLayout="column" fxLayoutAlign="center center" fxFlex="30">
      <img class="mySlide" src="../../assets/classroom/read.jpg" alt="">
    </div>
    <div class="schoolContent" fxLayout="column" fxLayoutAlign="center center" fxFlex="60">
      <p>Quality education, needs to mature. It takes time for
        the God given potential within each pupil to be realized. At Faith Academy we will be committed to develop young
        people into a great nation. We envisage a dynamic and excellent team of young people who fear God. Our school
        will
        be a drag free school with emphasis on moral regeneration.</p>
    </div>
  </div>

  <div class="schoolContent marginBottom" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="schoolContent" fxLayout="column" fxLayoutAlign="center center" fxFlex="60">
      <p>Our biggest concern is the level at which the country is lacking skill in maths and science. It is therefore,
        our main purpose to ensure that we raise a large number of students with Maths and science. The school will be
        focusing on 80% Maths & Science to ensure that we prepare our students to participate in Renewable Energy,
        Engineering studies, Technology and medical science.</p>
    </div>
    <div class="schoolContentBlock" fxLayout="column" fxLayoutAlign="center center" fxFlex="30">
      <img class="mySlide" src="../../assets/classroom/learn1.jpg" alt="">
    </div>
  </div>

  <!-- Section 2 -->

  <div class="schoolContent marginTop" fxLayout="row" fxLayoutAlign="center center">
    <h1>PREAMBLE</h1>
  </div>

  <div class="schoolContent marginBottom" fxLayout="row" fxLayoutAlign="center center">
    <p>At Faith Academy Christian School, we will promote an ethos of respect and equality in accordance with the
      Constitution of our country, to recognize and value cultural and lifestyle differences, and to increase the
      awareness of each learner’s cultural heritage, and further agree that we will create opportunities intended to
      develop unity and understanding as a school, and as a community.</p>
  </div>

  <div class="schoolImage mainButtonBG marginBottom" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="alignAuto" *ngFor="let img of images; let i = index">
      <img class="mySlide" *ngIf="slideIndex == i + 1" src="{{img}}" alt="">
    </div>

    <button mat-raised-button class="top-left" (click)="slide(-1)">&#10094;</button>
    <button mat-raised-button class="top-right" (click)="slide(1)">&#10095;</button>
  </div>

  <div class="schoolContent alignLeft marginBottom" fxLayout="column" fxLayoutAlign="start stretch">
    <p>As a learning community, we will aspire to: </p>

    <ol class="marginBottom">
      <li>Show reverence toward the spiritual</li>
      <li>Develop genuine friendships</li>
      <li>Respect the worth and dignity of the individual</li>
      <li>Widen the area of common agreement by which decisions are made and actions taken</li>
      <li>Develop personal integrity and moral courage</li>
      <li>Help individuals to develop their talents and skills</li>
      <li>Reflect disapproval of behaviour wherein one individual does or says things harmful to another, or to the good
        name of the School, and</li>
      <li>Encourage a continuous evaluation of things as they are with a view to
        improvement</li>
    </ol>

    <p>We will furthermore encourage individuals to: </p>

    <ul class="alignRight">
      <li>accept their civil and communal responsibilities</li>
      <li>use democratic methods to achieve group agreement</li>
      <li>consider the common good before group or personal loyalties, and</li>
      <li>live in accordance with agreed-upon standards</li>
    </ul>

    <div class="schoolContent marginBottom" fxLayout="row" fxLayoutAlign="center center">
      <img class="mySlide noBorder" src="../../assets/LOGO.png" alt="">
    </div>

  </div>

  <!-- Section 3 -->

  <div class="schoolContent marginBottom" fxLayout="row" fxLayoutAlign="center center">
    <h1>SCHOOL MISSION AND OBJECTIVES</h1>
  </div>

  <div class="schoolContent marginBottom" fxLayout="row" fxLayoutAlign="center center">
    <p>Faith Academy strives to be an intimate, caring school that provides opportunities created by the staff and
      parents, for the child as an individual, to develop their full potential by using any property, facility and
      income available to the school, to benefit the learners attending the school.</p>
  </div>

  <div class="schoolContent largeImage marginBottom" fxLayout="row" fxLayoutAlign="center center">
    <img class="mySlide" src="../../assets/classroom/assemble2.jpg" alt="">
  </div>

  <div class="schoolContent alignLeft marginBottom" fxLayout="column" fxLayoutAlign="start stretch">
    <p>In order to achieve this goal, our objectives are:</p>

    <ol class="marginBottom">
      <!-- One -->
      <li>To maintain a high-level of comprehensive education by:</li>
      <ul>
        <li>adopting an ethically acceptable and meaningful academic standard</li>
        <li>providing for the development of cultural and social skills</li>
        <li>maintaining a sociably acceptable standard of discipline</li>
        <li>providing an active sports program.</li>
      </ul>

      <p class="italicBold">(Above done in accordance with regulation 8, 9 and 10 of the School’s Act)</p>
      <!-- two -->
      <li>To be a caring Christian family school by:</li>
      <ul>
        <li>radiating a caring attitude toward the learners</li>
        <li>focusing on the need of the individual learner, and her or his relation to others striving toward the
          participative and full involvement of each family including and supporting learners and their families who are
          living with HIV/ Aids</li>
      </ul>
      <!-- three -->
      <li>To be based on the following principles by:</li>
      <ul>
        <li>fostering faith in God recognizing the rights of others to pursue their own religious beliefs; encouraging a
          respect and sensitivity for differences, especially religious beliefs; encouraging pure, wholesome moral
          values</li>
        <li>teaching principles that are based on human dignity, the achievement of equality and the advancement of
          human rights, responsibilities and freedoms.</li>
      </ul>
      <!-- four -->
      <li>To ensure efficient management of the infrastructure by:</li>
      <ul>
        <li>seeking appropriately qualified staff based on merit, but with awareness and sensitivity to issues of equal
          opportunities and representative</li>
        <li>maintaining strong, open communication between educators, parents, Management Board, Governing Body and the
          Fund Raising Committee; maintaining all the school facilities in good order and; maintaining good
          relationships with other educational organizations and the community.</li>
      </ul>
    </ol>
  </div>

  <!-- Section 4 -->

  <div class="schoolContent marginBottom" fxLayout="column" fxLayoutAlign="center center">

    <mat-card class="mainCard marginBottom">
      <img mat-card-image class="mySlide noBorder" src="../../assets/mr&mrsMaepa.jpg" alt="Photo of a Mr & Mrs Maepa">
      <mat-card-content class="marginBottom1">
        <p>Mr & Mrs Maepa</p>
      </mat-card-content>
    </mat-card>

    <p>Coupled to this school we have a plan to establish the Energy Centre (Dr. H E Maepa Institute) which will be
      making
      provision for all our young matriculated students to continue their studies through. The Centre will also cover
      the
      practical experience to ensure that our students are ready for the market place.</p>
  </div>

  <div class="schoolContent largestImage marginBottom" fxLayout="row" fxLayoutAlign="center center">
    <img class="mySlide" src="../../assets/institute/teamInRed.jpg" alt="Team In Red">
  </div>
</div>