/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Zilla+Slab&display=swap');

// $primaryColor: brown;
$primaryColor: #880e4f;
$primaryColorLight: #ff8888;
$primaryColorTransparent: #880e4f70;
$aqua: aqua;
$white: white;
$transparentBlack: #000000bf;

$mainFont: 'Zilla Slab', serif;

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: $mainFont; 
}

// Scroll Bar Styles
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primaryColor; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primaryColorLight; 
  }