<div class="admissionContainer" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2em">
  <div class="admissionContent marginTop" fxLayout="column" fxLayoutAlign="center center">
    <form class="width100 admissionForm">
      <h3>Faith Academy Christian School Admission Form</h3><br>

      <p>Dear Parent/Guardian, </p><br>

      <p class="marginBottom">Welcome to our school's Admission Center. Please use this form to apply for your child's
        admission to our
        school. We need complete and accurate information about the student, so make sure you fill out all fields.
        Faith Academy Christian School Admission Forms are processed within 48 hours. You will receive an email
        confirmation when we process
        your application.</p>

      <div class="admFormInputs" fxLayout="column" fxLayoutGap="0.7em">
        <label>Student's Name</label>

        <div class="inputRow" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="inputField-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="45">
            <mat-form-field floatLabel='never' appearance="legacy">
              <input matInput placeholder="test" required>
            </mat-form-field>
          </div>

          <div class="inputField-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="45">
            <mat-form-field floatLabel='never' appearance="legacy">
              <input matInput placeholder="test" required>
            </mat-form-field>
          </div>
        </div>

        <label>Student's Name</label>
        
        <div class="inputRow" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="inputField-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="45">
            <mat-form-field floatLabel='never' appearance="legacy">
              <input matInput placeholder="test" required>
            </mat-form-field>
          </div>

          <div class="inputField-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="45">
            <mat-form-field floatLabel='never' appearance="legacy">
              <input matInput placeholder="test" required>
            </mat-form-field>
          </div>
        </div>

        <label>Student's Name</label>
        
        <div class="inputRow" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="inputField-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="45">
            <mat-form-field floatLabel='never' appearance="legacy">
              <input matInput placeholder="test" required>
            </mat-form-field>
          </div>

          <div class="inputField-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="45">
            <mat-form-field floatLabel='never' appearance="legacy">
              <input matInput placeholder="test" required>
            </mat-form-field>
          </div>
        </div>


        <!-- <mat-error class="height15px marginTop1em" *ngIf="submitted &amp;&amp; claimHistory.controls[&apos;searchField&apos;].invalid">
            {{this.errorMsg}}
          </mat-error> -->
      </div>
    </form>
  </div>
</div>