<div class="homeContainer" fxLayout="column" fxLayoutAlign="space-around stretch">
    <div class="homeContact" fxLayout="row" fxLayoutAlign="center center">
        <h1>Welcome to Faith Academy Christian School</h1>
    </div>
    <div class="homeContact" fxLayout="row" fxLayoutAlign="center center">
        <p>At Faith Academy we are committed to developing young people into a great nation. We envisage a dynamic and
            excellent team of young people who fear God. Our school is a drug free school with emphasis on moral
            regeneration.</p>
    </div>
    <!-- ok -->
    <div class="linkRow" fxLayout="row" fxLayoutAlign="center center">
        <div class="mainButtonBG" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="30">
            <button mat-raised-button routerLink="/about">Learn
                More</button>
        </div>
    </div>
</div>