<div class="homeContainer" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="homeContact" fxLayout="row" fxLayoutAlign="center center">
        <h1>Welcome to Faith Academy Christian School</h1>
    </div>

    <div class="homeContact marginBottom" fxLayout="column" fxLayoutAlign="center center">

        <div class="aboutContent" fxLayout="row" fxLayoutAlign="center center">
            <!-- <img class="mySlide" src="../../assets/classroom/school_building.jpg" alt="logo"> -->
            <img class="mySlide" src="../../assets/mainLogo.png" alt="logo">
        </div>

        <p>At Faith Academy we are committed to developing young people into a great nation. We envisage a dynamic and
            excellent team of young people who fear God. Our school is a drug free school with emphasis on moral
            regeneration.</p>

    <div class="homeContact linkRowmarginBottom" fxLayout="row" fxLayoutAlign="center center">
        <div class="mainButtonBG" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="30">
            <button mat-raised-button routerLink="/about">Learn
                More</button>
        </div>
    </div>
    </div>
</div>